.accordion {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
  color: #000000de;
  border: none;
  padding: 1.4rem 0.7rem;
  cursor: pointer;
  width: 100%;
  gap: 2rem;
  justify-content: flex-start;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4), 0 -1px rgba(0, 0, 0, 0.15);
  height: 110px;
  transition: 200ms height;
  -webkit-transition: 200ms height;
  -moz-transition: 200ms height;
  -ms-transition: 200ms height;
  -o-transition: 200ms height;
}
.accordion.dark {
  background-color: #1e1e1e;
  color: #fff;
}
.accordion.collapsed {
  height: 60px;
}

.accordion > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #4cceac;
  width: 100%;
}
.accordion > div:first-child svg {
  color: #0000008a;
}
.accordion.dark > div:first-child svg {
  color: #fff;
}
